<template>

    <div class="slider">
        <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
                <div class="slide">
                    <div class="slide__img slide__img_1" style="background-image: url(/img/carousel-partners/bodymedia.png)"></div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide">
                    <div class="slide__img slide__img_2" style="background-image: url(/img/carousel-partners/fitbit.png)"></div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide">
                    <div class="slide__img slide__img_3" style="background-image: url(/img/carousel-partners/polar.png)"></div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide">
                    <div class="slide__img slide__img_4" style="background-image: url(/img/carousel-partners/withings.png)"></div>
                </div>
            </swiper-slide>
            <!-- Optional controls -->
            <div class="swiper-pagination" slot="pagination"></div>
            <!--<div class="swiper-button-prev" slot="button-prev"></div>-->
            <!--<div class="swiper-button-next" slot="button-next"></div>-->
        </swiper>
    </div>

</template>

<script>
    export default {
        name: 'carrousel',
        data() {
            return {
                swiperOption: {
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                    autoplay: {
                        delay: 3000,
                    },
                }
            }
        }
    }
</script>

<style scoped>
    .slide {
        height: 70px;
        width: 240px;
        margin: auto;
        margin-bottom: 55px;
    }
    .slide__img{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center 0;
    }
    .slide__img_1:hover{
        background-position: center -66px;
    }
    .slide__img_2:hover{
        background-position: center -66px;
    }
    .slide__img_3:hover{
        background-position: center -66px;
    }
    .slide__img_4:hover{
        background-position: center -66px;
    }
</style>