<template>

    <div class="slider">
        <swiper :options="swiperOption" ref="mySwiper">
            <!-- slides -->
            <swiper-slide>
                <div class="slide">
                    <img src="/img/carousel-review/face1.png" alt="" class="slide__img">
                    <p class="slide__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide">
                    <img src="/img/carousel-review/face1.png" alt="" class="slide__img">
                    <p class="slide__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide">
                    <img src="/img/carousel-review/face1.png" alt="" class="slide__img">
                    <p class="slide__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
    </div>

</template>

<script>
    export default {
        name: 'carrousel',
        data() {
            return {
                swiperOption: {
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                    autoplay: {
                        delay: 3000,
                    },
                }
            }
        }
    }
</script>

<style scoped>
    .slide {
        width: 100%;
        margin-bottom: 90px;
    }
    .slide__img{
        display: block;
        margin: 0 auto 50px;
        background-repeat: no-repeat;
        background-position: center 0;
    }
</style>