<template>
    <div class="slider">
        <ul class="slider__list">
            <li class="slider__item"></li>
            <li class="slider__item"></li>
        </ul>
        <ul class="slider-nav__list">
            <li class="slider-nav__item"></li>
            <li class="slider-nav__item"></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data(){
            return {

            }
        }
    }
</script>