@import "utilities";

@media only screen and (min-width: 240px) {
	html {
		font-size: 16px;
	}

	body {
		font-family: $pr;
		background-color: $white;
		font-size: 0;
		color: $darkT;
	}

	a {
		text-decoration: none;
	}

	button, input {
		outline: none;
	}

	button {
		border: 0;
		cursor: pointer;
	}
	input {
		border: 0;
		box-sizing: border-box;
		appearance: none;
		outline: none;
	}

	*::-webkit-input-placeholder {
		color: #b2b2b2;
		opacity: 1;
		font-size: 0.875rem;
		font-family: $pr;
	}
	*:-moz-placeholder {
		color: #b2b2b2;
		opacity: 1;
		font-size: 0.875rem;
		font-family: $pr;
	}
	*::-moz-placeholder {
		color: #b2b2b2;
		opacity: 1;
		font-size: 0.875rem;
		font-family: $pr;
	}
	*:-ms-input-placeholder {
		color: #b2b2b2;
		opacity: 1;
		font-size: 0.875rem;
		font-family: $pr;
	}
	li {
		line-height: 1;
	}
	header, section, footer, main {
		width: 100%;
		height: auto;
	}
	header {
		min-width: 320px;
	}
	section {
		overflow: hidden;
		min-width: 320px;
		position: relative;
	}
	h1 {
		font-family: $bb;
		font-size: $px20;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		&:after {
			content: '';
			display: inline-block;
			width: 70px;
			height: 2px;
			background-color: $l_blue;
			margin-top: 25px;
		}
	}
	h2 {
		font-family: $bb;
		font-size: $px24;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		&:after {
			content: '';
			display: inline-block;
			width: 70px;
			height: 2px;
			background-color: $l_blue;
			margin-top: 25px;
		}

	}

	h3 {
		font-family: $bb;
		font-size: $px20;
		line-height: 1.4;
	}

	p {
		font-size: $px16;
		line-height: 1.4;
	}
	.white{
		color: $whiteT;
	}
	.grey-bg{
		background-color: $l_grey;
	}
	.blue-bg{
		background-color: $blue;
	}
}