@import "utilities";
@media only screen and (min-width: 240px) {
	.container {
		width: 100%;
		min-width: 320px;
		max-width: 1030px;
		margin: 0 auto;
		padding: 0 15px;
		box-sizing: border-box;
		position: relative;
		font-size: 0;
	}
	.flex {
		display: flex;
		&_i {
			display: inline-flex;
		}
	}
}