// Colors
$white: #ffffff;
$dark: #292d35;
$d_grey: #bdc5ce;
$grey: #bdc5ce;
$l_grey: #f1f4f7;
$blue: rgb(1, 71, 181);
$l_blue: rgb(19, 159, 248);

// Colors fonts
$whiteT: $white;
$darkT: $dark;
$d_greyT: $d_grey;
$greyT: $grey;
$l_greyT: $l_grey;
$blueT: $blue;
$l_blueT: $l_blue;


// font-family
$pbi: 'PTSans-BoldItalic';
$pr: 'PTSans-Regular';
$pb: 'PTSans-Bold';
$pi: 'PTSans-Italic';

$bi: 'Bitter-Italic';
$br: 'Bitter-Regular';
$bb: 'Bitter-Bold';

//font size
$px7: 0.4375rem;
$px10: 0.625rem;
$px12: 0.75rem;
$px14: 0.875rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px21: 1.3125rem;
$px22: 1.375rem;
$px24: 1.5rem;
$px25: 1.5625rem;
$px26: 1.625rem;
$px27: 1.6875rem;
$px28: 1.75rem;
$px29: 1.8125rem;
$px30: 1.875rem;
$px31: 1.9375rem;
$px32: 2rem;
$px34: 2.125rem;
$px36: 2.25rem;
$px40: 2.5rem;
$px43: 2.6875rem;
$px44: 2.75rem;
$px45: 2.8125rem;
$px50: 3.125rem;
$px55: 3.4375rem;
$px60: 3.75rem;
$px65: 4.0625rem;
$px75: 4.6875rem;
$px140: 8.75rem;
$px162: 10.125rem;
