@media only screen and (min-width: 240px) {
  .call-to-action{
    padding: 50px 0;
    &:before, &:after{
      content: '';
      height: 100%;
      width: 480px;
      display: inline-block;
      background-image: url(../../../img/call-to-action/bg.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
    }
    &:after{
      right: 75%;
    }
    &:before{
      left: 75%;
      transform: rotateY(180deg);
    }
    &__container{
      position: relative;
      z-index: 1;
    }
    &__title{
      align-items: center;
      margin-bottom: 20px;
    }
    &__text{
      text-align: center;
      margin-bottom: 40px;
    }
    &-buttons{
      justify-content: center;

      &__button{
        height: 50px;
        width: 200px;
        &_l-blue{
          border-color: $l_blue;
          background-color: $l_blue;
          color:$whiteT;
        }
      }
    }
  }
}