@media only screen and (min-width: 240px) {
  .desc-block {
    &__list {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      text-align: center;
      &_how-it-work {
        margin-bottom: 60px;
      }
      &_about{
        margin-bottom: 60px;
      }
    }
    &__title{
      &_how-it-work{
        margin-bottom: 10px;
      }
      &_about{
        margin-bottom: 30px;
      }
    }
    &__img{
      &_how-it-work{
        margin-bottom: 30px;
      }
      &_about{
        margin-bottom: 35px;
      }
    }
  }
}