@media only screen and (min-width: 240px) {
  .earn-points {
    padding: 60px 0 0;
    &__title {
      text-align: center;
      margin-bottom: 25px;
    }
    &__list {
      flex-wrap: wrap;
      border-top: 1px solid $l_grey;
      border-left: 1px solid $l_grey;
    }
    &__item {
      width: 50%;
      height: 145px;
      border-bottom: 1px solid $l_grey;
      border-right: 1px solid $l_grey;
      &:hover {
        .earn-points-flip {
          transition: 0.6s;
          transform: rotateY(180deg);
        }
        .earn-points-flip__rear{
          transition: opacity 0s;
          transition-delay: 0.2s;
          opacity: 1;
        }
        .earn-points-flip__top{
          transition: opacity 0s;
          transition-delay: 0.2s;
          opacity: 0;
        }
      }
    }
    &-flip {
      position: relative;
      height: 100%;
      width: 100%;
      transition: 0.6s;
      transform-style: preserve-3d;
      &__top {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: opacity 0s;
        transition-delay: 0.2s;
        &:before {
          content: '';
          display: inline-block;
          margin: auto;
          width: 70px;
          height: 45px;
          background-image: url(../../../img/earn-points/icons.png);
          background-repeat: no-repeat;
        }
        &_1 {
          &:before {
            background-position: 0 0;
          }
        }
        &_2 {
          &:before {
            background-position: 0 -245px;
          }
        }
        &_3 {
          &:before {
            background-position: 0 -50px;
          }
        }
        &_4 {
          &:before {
            background-position: 0 -294px;
          }
        }
        &_5 {
          &:before {
            background-position: 0 -95px;
          }
        }
        &_6 {
          &:before {
            background-position: 0 -343px;
          }
        }
        &_7 {
          &:before {
            background-position: 0 -147px;
          }
        }
        &_8 {
          &:before {
            background-position: 0 -393px;
          }
        }
        &_9 {
          &:before {
            background-position: 0 -200px;
          }
        }
        &_10 {
          &:before {
            background-position: 0 -445px;
          }
        }
      }
      &__rear{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: rotateY(180deg);
        opacity: 0;
        transition: opacity 0s;
        transition-delay: 0.2s;
      }
    }
  }
}