@media only screen and (min-width: 240px) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    font-size: $px16;
    font-family: $pr;
  }
  .slider {
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
    }
  }
}