@media only screen and (min-width: 240px) {
  .faq {
    padding: 70px 0;
    &__title{
      align-items: center;
      text-align: center;
    }
    &__text{
      text-align: center;
      &_link{
        text-decoration: underline;
        color: $l_blue;
        &:hover{
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}