@media only screen and (min-width: 240px) {
  .graph{
    padding: 60px 0;
    &__title{
      align-items: center;
      text-align: center;
      margin-bottom: 25px;
    }
    &__text{
      text-align: center;
    }
  }
}