@media only screen and (min-width: 240px) {
  .header {
    height: 80px;
    &__container{
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }
    &-logo{
      &__link{
        width: 100px;
        display: inherit;
        align-items: center;
        &:first-child{
          margin-right: 15px;
        }
      }
      &__img{
        width: 100%;
      }
    }
    &-buttons {
      &__button {
        border-color: $d_grey;
        height: 35px;
        display: inherit;
        justify-content: center;
        align-items: center;
        color:$dark;
        &_check{
          display: none;
        }
        &_lang{
          width: 40px;
        }
      }
    }
  }
}