@media only screen and (min-width: 240px) {
  .top-main {
    &__container {
      height: 520px;
      background-image: url('../../../img/top-main/mob-bg.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      position: relative;
      &:before {
        content: '';
        width: 61px;
        height: 184px;
        position: absolute;
        display: inline-block;
        background-image: url('../../../img/top-main/left-mob-tree.png');
        background-repeat: no-repeat;
        top: 50%;
        left: 0;
      }
      &:after {
        content: '';
        width: 96px;
        height: 215px;
        position: absolute;
        display: inline-block;
        background-image: url('../../../img/top-main/right-mob-tree.png');
        background-repeat: no-repeat;
        top: 40%;
        right: 0;
      }
    }
    &__content {
      position: relative;
      z-index: 1;
      padding-top: 60px;
    }
    &__title {
      margin-bottom: 20px;
      text-align: center;
      align-items: center;
    }
    &__text {
      text-align: center;
      margin-bottom: 40px;
    }
    &-buttons {
      flex-direction: column;
      align-items: center;
      &__button {
        height: 50px;
        width: 220px;
        color: $whiteT;
        transition: .2s;
        margin-bottom: 20px;
        &_blue {
          border-color: $blue;
          background-color: $blue;
        }
        &_l-blue {
          border-color: $l_blue;
          background-color: $l_blue;
        }
      }
    }
  }
}

